/* Runner and pronouns panel. */
.runner-container {
	width: 404px;
	position: absolute;
}

#runner-container1 {
	top: 424px;
}

/* Container for game info */
#info-container {
	width: 1487px;
	position: absolute;
	left: 423px;
	bottom: 84px;
}

/* Game name panel. */
#game-container {
	height: 80px;
}

.info-box #console {
	flex: 2;
}

.info-box #estimate {
	flex: 1;
}

/* Timer panel. */
#timer {
	font-size: 135px;
	height: 130px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 585px;
	height: 300px;
	line-height: 300px;
	left: 0;
	top: 694px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}