/* Runner and pronouns panel. */
.runner-container, #info-container, #timer {
	width: 591px;
}

.runner-container {
	position: absolute;
	bottom: 311px;
}

#runner-container2, #timer {
	right: 10px;
}

/* Container for game info */
#info-container {
	position: absolute;
	bottom: 93px;
}

/* Game name panel. */
#game-container {
	height: 109px;
}

#game-name {
	font-size: 85px;
}

.info-box #console {
	flex: 2;
}

.info-box #estimate {
	flex: 1;
}

/* Timer panel. */
#timer {
	font-size: 125px;
	height: 208px;
	position: absolute;
	bottom: 93px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 585px;
	height: 300px;
	line-height: 300px;
	left: 0;
	top: 694px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}