/* Font settings. */
@font-face {
	font-family: 'Barlow Regular';
	src: url('../fonts/Barlow-Regular.ttf');
}

@font-face {
	font-family: 'Barlow SemiBold';
	src: url('../fonts/Barlow-SemiBold.ttf');
}

@font-face {
	font-family: 'Barlow Bold';
	src: url('../fonts/Barlow-Bold.ttf');
}

@font-face {
	font-family: 'Barlow Black';
	src: url('../fonts/Barlow-Black.ttf');
}
/* You can add an unlimited amount of fonts by copy/pasting @font-face! */

/* General settings. */
body {
	font-family: 'Barlow Regular';
	color: #f9f9f9;
	width: 1920px;
	height: 1080px;
	position: absolute;
	margin: 10px;
}


/* General position helpers */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.mar-t {
	margin-top: 10px;
}

.mar-b {
	margin-bottom: 10px;
}

.mar-l {
	margin-left: 10px;
}

.mar-r {
	margin-right: 10px;
}

/* Game name panel. */
#game-container {
	background: none;
}

#game-name {
	font-size: 72px;
	font-family: 'Barlow Bold';
	text-align: center;
}

/* Runner name and pronouns panel. */
.runner-container {
	position: absolute;
	display: flex;
}

.runner-name {
	font-size: 32px;
	font-family: 'Barlow Bold';
}

.pronouns {
	font-size: 27pt;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.medals {
	margin-top: 10px;
	margin-right: 7px;
	vertical-align: middle;	
	float: right;

	border: 2px solid white;
}

.medals-img {
	width: 30px;
	height: 30px;

	border: 2px solid white;
}

.finalTime {
	font-size: 30pt;
	font-stretch: semi-condensed;
	vertical-align: middle;

	border: 2px solid white;
}

/* Category, estimate, console, player info */
.info-box {
	font-size: 32px;
	font-family: 'Barlow Bold';
	background-color: #3a3a3a;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
}

/* Category and estimate panel. */
#info-container {
	display: flex;
}

/* Stopwatch image height. */
#estimate-label img {
	height: 21pt;
}

#category, #estimate {
	text-align: center;
}

#info {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#estimate-container {
	float: right;
	vertical-align: middle;
}

#estimate-label {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

#estimate {
	font-size: 28px;
	display: inline-block;
}

/* Timer panel. */
#timer {
	font-family: 'Barlow Bold';
	font-size: 108px;
	text-align: center;
	background: none;
}

.timer_stopped {
	color: #c0c0c0;
}

.timer_paused {
	color: #c0c0c0;
}

.timer_finished {
	color: #50ff50;
}

/* Sponsor panel. */
#sponsor-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	
	border: 2px solid transparent;
}
