/* Runner and pronouns panel. */
.runner-container {
	width: 574px;
	position: absolute;
}

#runner-container1 {
	top: 703px;
}

/* Container for game info */
#info-container {
	width: 574px;
	position: absolute;
}

.info-box {
	height: 40px;
}

/* Game name panel. */
#game-container {
	height: 80px;
}

.info-box #console {
	flex: 2;
}

.info-box #estimate {
	flex: 1;
}

/* Timer panel. */
#timer {
	height: 100px;
}