/* Donation Total panel. */
#donationContainer {
	font-size: 48px;
	font-family: 'Barlow Regular';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1045px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#donationTotal {
	font-size: 150px;
	font-family: 'Barlow Bold';
}

#charityText {
	margin-bottom: 50px;
}

.separator {
	margin-bottom: 20px;
}

.flex-row > .info-box {
	padding: 0 10px;
}

/* Next runs container. */
#upcoming-runs-container {
	width: 855px;
	position: absolute;
	right: 10px;
}

.game-container {
	height: 80px;
	background: none;
}

.game-container:has(.on-deck-game) {
	justify-content: flex-start;
}

/* Host and music panels. */
#hostMusicContainer {
    font-size: 48px;
	font-family: 'Barlow SemiBold';
    position: absolute;
    bottom: 10px;
    left: 10px;
	display: flex;
	flex-direction: column;
}

/* Host Panel. */
#hostContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

/* Music Panel. */
#musicContainer {
	width: 1900px;
	justify-content: flex-start;
}

#music {
	max-width: 100%;
}

/* Host label */
#host-label {
    color: #3a3a3a;
    background-color: #f4b938;
    padding: 0 5px;
	font-family: 'Barlow Bold';
}

.pronouns {
	font-size: 32px;
	font-family: 'Barlow Bold';
	padding: 0 5px;
}

/* Up Next label. */
#up-next-label {
	font-size: 48px;
	color: #f9f9f9;
	font-family: 'Barlow SemiBold';
}

/* Game panel. */
#up-next-game {
	font-size: 64px;
	color: #f4b938;
}

.on-deck-game {
	font-size: 50px;
	color: #f4b938;
}

/* Sponsor panel. */
#sponsor-container {
	width: 100%;
	height: 400px;
	position: initial;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 80%;
	max-height: 100%;
}