/* Runner and pronouns panel. */
#info-container, #timer {
	width: 591px;
}

.runner-container {
	width: 344px;
	position: absolute;
	bottom: 311px;
}

#runner-container1 {
	left: 611px;
}

#runner-container2 {
	right: 611px;
}

/* Container for game info */
#info-container {
	position: absolute;
	bottom: 93px;
}

/* Game name panel. */
#game-container {
	height: 76px;
}

.info-box #console {
	flex: 2;
}

.info-box #estimate {
	flex: 1;
}

/* Timer panel. */
#timer {
	font-size: 125px;
	height: 125px;
	position: absolute;
	right: 10px;
	bottom: 93px;
}