/* Runner and pronouns panel. */
.runner-container {
	width: 626.67px;
}

.runner-container {
	position: absolute;
	bottom: 403px;
}

#runner-container2 {
	left: 646.5px;
}

#runner-container3 {
	right: 10px;
}

/* Container for game info */
#info-container {
	width: 388.45px;
	position: absolute;
	left: 380.55px;
	bottom: 93px;
}

/* Game name panel. */
#game-container {
	height: 70px;
}

#game-name {
	font-size: 85px;
}

.info-box #category {
	padding: 0 7.5px;
}

/* Timer panel. */
#timer {
	font-size: 86px;
	height: 80px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 585px;
	height: 300px;
	line-height: 300px;
	left: 0;
	top: 694px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}