/* Runner and pronouns panel. */
.runner-container {
	width: 544px;
	position: absolute;
	bottom: 313px;
}

#runner-container1 {
	left: 412px;
}

#runner-container2 {
	right: 412px;
}

/* Container for game info */
#info-container {
	width: 393px;
	position: absolute;
	left: 10px;
	bottom: 93px;
}

/* Game name panel. */
#game-container {
	height: 70px;
}

#game-name {
	font-size: 85px;
}

/* Timer panel. */
#timer {
	font-size: 86px;
	height: 90px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 393px;
	height: 259px;
	right: 10px;
	bottom: 93px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 90%;
	max-height: 100%;
}